<section data-title="Vue Component: Basic structure">

    <section>
        <h1>Basic structure</h1>

        <pre><code class="language-html">^1^&lt;template>
  &lt;div class="foo">&lt;/div>
&lt;/template>^^

^2^&lt;script>
export default {
    name: "Component name"
};
&lt;/script>^^

^3^&lt;style scoped>
    .foo { color: green; }
&lt;/style>^^</code></pre>

        <p class="fragment no-burn" data-fragment-index="1">Main building blocks:</p>
        <ul>
            <li data-fragment-index="1">HTML Template</li>
            <li data-fragment-index="2">Script block</li>
            <li data-fragment-index="3">Styling block</li>
        </ul>

    </section>

    <section>
        <h1>Script block</h1>
        <pre><code class="language-html">&lt;script ^2^lang="ts"^^>
^2^import { defineComponent } from "vue";^^

export default ^2^defineComponent(^^{
    name: "Component name"
    // further options, see next slides
}^2^)^^;
&lt;/script></code></pre>
        <div class="fragment no-burn" data-fragment-index="1">Two possible options:</div>
        <ul>
            <li data-fragment-index="1">Use JavaScript (see previous slide)</li>
            <li data-fragment-index="2">Use TypeScript</li>
        </ul>
        <div class="fragment" data-fragment-index="2">
            In Vue 2, replace <code>defineComponent</code> with <code>Vue.extend</code>
        </div>
    </section>

    <section>
        <h1>Styling (CSS) block</h1>
        <div>Possible attributes:</div>
        <dl>
            <dt class="fragment" data-fragment-index="1">scoped</dt>
            <dd class="fragment" data-fragment-index="1">Makes the CSS work only on the component without leaking out.
                <br><span
                        style="color:red"> &#x26A0; </span>Outer styles can still leak into the components!
            </dd>

            <dt class="fragment" data-fragment-index="2">lang="scss"</dt>
            <dd class="fragment"
                data-fragment-index="2">Use SCSS instead of CSS. The options available here depend on the installed preprocessors.
            </dd>
        </dl>
    </section>

    <section>
        <h1>Exercise 1: The first component</h1>
        <ol class="no-burn">
            <li>Modify <code>ScrumEstimation.vue</code> to contain a headline and a div with some text below</li>
            <li>Make sure you can see the component in the browser</li>
            <li>Style the component:
                <ul class="no-burn">
                    <li>The headline shall be red and have a font size of 20px</li>
                    <li>The headline as well as the content below shall be centered</li>
                </ul>
            </li>
            <li>Using the browser's CSS-inspector, investigate how the scoped styles work</li>
            <li>Switch the component to TypeScript</li>
            <li>Switch the style to SCSS</li>
            <li>Locate the component using the Vue devtools</li>
        </ol>
        <p>If you managed to finish early, you can try to determine how the app is mounted in the surrounding html (Hint: look at App.vue and main.ts)</p>
    </section>

</section>