<section data-title="Basic data manipulation">
    <section>
        <h1 style="margin-bottom: 50px">The <code>data</code> option</h1>
        <pre><code class="language-html">&lt;template>
  &lt;div>^2^{{additionalText}}^^&lt;/div>
&lt;/template>

&lt;script>
export default {
    name: "Component name"
    ^1^data() {
        return {
            additionalText: "someText"
        };
    }^^
};
&lt;/script></code></pre>
        <div class="fragment" data-fragment-index="1">
            <div>The <strong><code>data</code></strong> option:</div>
            <ul class="no-burn">
                <li>makes data accessible in the template (and on the component instance)</li>
                <li>is reactive: Usages (especially in the template) get updated on change</li>
                <li>is a function: Recreated for each component to avoid dependencies</li>
            </ul>
        </div>
        <div class="fragment" data-fragment-index="2">
            Via <code>{{ }}</code>, data (actually component instance) properties can be used in the template
        </div>
    </section>

    <section>
        <h1>The <code>v-bind</code> directive</h1>
        <pre><code class="language-html">&lt;template>
    &lt;div ^1^v-bind:title="titleText"^^ >Content to go here&lt;/div>
    &lt;div ^2^:title="'This is ' + titleText"^^ >Content to go here&lt;/div>
&lt;/template>

&lt;script>
export default {
    data() {
        return {
            titleText: "some title Text"
        };
    }
};
&lt;/script></code></pre>
        <div class="fragment" data-fragment-index="1">
            <div>The <strong><code>v-bind</code></strong> directive:</div>
            <ul class="no-burn">
                <li>binds (reactive) expressions to an attribute value</li>
                <li>expressions can access properties of the component instance</li>
            </ul>
        </div>
        <div class="fragment" data-fragment-index="2">Shorthand: <code>v-bind:some-attribute</code> &rightarrow;
            <code>:some-attribute</code></div>
    </section>

    <!--    slide change here ============================================ -->

    <section>
        <h1 style="margin-bottom: 50px">React to user actions</h1>
        <pre><code class="language-html">&lt;template>
  &lt;div>
    &lt;div>{{ someContent }}&lt;/div>
    &lt;button ^2^v-on:click="resetText"^^>Reset text&lt;/button>
  &lt;/div>
&lt;/template>

&lt;script>
export default {
    data() {
        return { someContent: "some content" };
    },
    ^1^methods: {
        resetText() { this.someContent = "foo"; }
    }^^
};&lt;/script></code></pre>
        <div class="fragment" data-fragment-index="1">
            <div>The <strong><code>methods</code></strong> option:</div>
            <ul class="no-burn">
                <li>adds methods to the component instance to be called e.g. from the template</li>
                <li>methods can access the component instance via <code>this</code></li>
            </ul>
        </div>
        <div class="fragment" data-fragment-index="2"><code>v-on:event="expression"</code>binds the handling of an event to an expression that is called<br>as a function, shorthand
            <code>@event="expression"</code></div>
    </section>

    <!--    slide change here ============================================ -->

    <section>
        <h1 style="margin-bottom: 50px">Computed properties</h1>
        <pre><code class="language-html">&lt;template>
    &lt;div>{{ ^1^titleAndContent^^ }}&lt;/div>
&lt;/template>

&lt;script>
export default {
    data() {
        return {
            titleText: "some title Text",
            someContent: "some content"
        };
    },
    ^1^computed: {
        titleAndContent(): string {
            return `Title >>${this.titleText}&lt;&lt; with content >>${this.someContent}&lt;&lt;`;
        }
    }^^
};&lt;/script></code></pre>
        <div class="fragment" data-fragment-index="1">
            <div>The <strong><code>computed</code></strong> property:</div>
            <ul class="no-burn">
                <li>provides the result of the embedded function to the component</li>
                <li>is cached: The function is <strong>only</strong> executed if a used reactive component property changes</li>
                <li>is reactive: Updates are automatically applied to the DOM</li>
                <li><span style="color:red"> &#x26A0; </span> In TypeScript, functions assigned to computed properties <em>must</em> have a defined return type</li>
            </ul>
        </div>
    </section>


    <!--    slide change here ============================================ -->

    <section>
        <h1>Exercise 2: Reactive data</h1>
        <ol class="no-burn">
            <li>Start from the result of the last exercise. Read the text in the
                <code>&lt;div></code> from a data option.
            </li>
            <li>Add another data attribute and bind it to the <code>title</code> attribute of the div.</li>
            <li>Select the component in the Vue devtools, change the value of the data attribute and observe the DOM changes.</li>
            <li>Add a button and make the text change on button click.</li>
            <li>Render the concatenation of the title and the text in the <code>&lt;div></code> into another <code>&lt;div></code></li>
        </ol>
    </section>
</section>