<section data-title="Declarative rendering">

    <section>
        <h1>Conditional rendering</h1>
        <pre><code class="language-html">&lt;template>
    &lt;div ^1^v-if="loading"^^>loading&lt;/div>
    &lt;div ^1^v-else^^>loaded&lt;/div>
&lt;/template>

&lt;script>
export default {
    data() {
        return { loading: true  };
    }
};
&lt;/script></code></pre>
        <p class="fragment" data-fragment-index="1"><code>v-if="condition"</code>,
            <code>v-else-if="condition"</code> and
            <code>v-else</code><br>conditionally add elements to the DOM.
        </p>
        <div class="fragment">
            <div>There is also <code>v-show="condition"</code>, which keeps elements in the DOM but<br>toggles the CSS
                <code>display</code> property.
            </div>
            <ul class="no-burn">
                <li>Prefer
                    <code>v-if</code> for faster rendering unless you need to switch quickly<br>off and on again or need to keep child component state/<code>data</code>
                </li>
            </ul>
        </div>
    </section>

    <!--    slide change here ============================================ -->

    <section>
        <h1>Loops</h1>
        <pre><code class="language-html">&lt;template>
    &lt;div>Shopping list&lt;/div>
    &lt;ul>
      &lt;li ^1^v-for="product in products"^^ :key="product.id">
        {{ product.name }} -- {{ product.price }}
      &lt;/li>
    &lt;/ul>
&lt;/template></code></pre>
        <p class="fragment" data-fragment-index="1">Syntax: <code>v-for="singleItem in collection"</code></p>
        <p class="fragment">Also a counter can be provided: <code>v-for="(singleItem, index) in collection"</code></p>
        <div class="fragment">
            <div>Can be used to iterate over entries of an object</div>
            <ul class="no-burn">
                <li><code>v-for="value in object"</code></li>
                <li><code>v-for="(value, key) in object"</code></li>
                <li><code>v-for="(value, key, index) in object"</code></li>
                <li><span style="color:red"> &#x26A0; </span>Ordering dependent on browser</li>
            </ul>
        </div>
    </section>


    <section>
        <h1>Efficient loop updates</h1>
        <pre><code class="language-html">&lt;template>
    &lt;div>Shopping list&lt;/div>
    &lt;ul>
      &lt;li v-for="product in ^1^products^^" ^2^:key="product.id"^^>
        {{ product.name }} -- {{ product.price }}
      &lt;/li>
    &lt;/ul>
&lt;/template></code></pre>
        <p class="fragment" data-fragment-index="1">Vue rerenders loops if the contents of the collection change</p>
        <div class="fragment" data-fragment-index="2">
            <div>To do so efficiently (and not mess up component state/<code>data</code>)</div>
            <ul class="no-burn">
                <li>add a unique <code>key</code> (<code>number|string|boolean</code>) to each element</li>
                <li>elements with the same
                    <code>key</code> before/after re-rendering will use the same<br>component instance and DOM nodes
                </li>
                <li>Other component instances and DOM nodes are destroyed/created</li>
            </ul>
        </div>
    </section>

    <section>
        <h1>Input bindings</h1>
        <pre><code class="language-html">&lt;template>
  &lt;div>
    &lt;label>Type here: &lt;input type="text" ^1^v-model="message"^^/>&lt;/label>
    &lt;div>I will write what you type: {{ message }}&lt;/div>
  &lt;/div>
&lt;/template></code></pre>
        <div class="fragment" data-fragment-index="1">
            <div><code>v-model</code> creates a two-way data binding between the input field and a
                <code>data</code> variable
            </div>
            <ul class="no-burn">
                <li>Listens to the correct change event dependent on the input type</li>
                <li>Hooks the property to the correct attribute dependent on the input type</li>
            </ul>
        </div>
        <div class="fragment">If you need to explicitly trigger side-effects on update:<br>Handle corresponding change events yourself
        </div>
    </section>

    <section>
        <h1>Exercise 3</h1>
        <ol class="no-burn">
            <li>Display all the values of the "fibonacci" scrum estimation game. You can use the values predefined in src/services/scrumEstimationValuesProvider.ts</li>
            <li>Make it look like cards but do not spend too much time on styling.<br>Hint: As this is not a CSS workshop, just import the prepared styling
                <br><code>@import "src/style/scrumestimation_card";</code>.<br>You will have to add the relevant classes though.
            </li>
            <li>Make the cards selectable: If a card was clicked, mark it as selected (e.g. use a red background)</li>
            <li>Add a button to remove the selection</li>
            <li>Add a dropdown to switch between "Fibonacci" and "T-Shirt size" estimation<br>(if you need help: <a
                    href="https://v3.vuejs.org/guide/forms.html#select">v3.vuejs.org/guide/forms.html#select</a>)
            </li>
        </ol>
    </section>
</section>

