<section data-title="Introduction" xmlns="http://www.w3.org/1999/html">

    <section>
        <h1>What is Vue.js</h1>
        <q class="cm-quote">
            Vue (pronounced /vjuː/, like view) is a progressive framework for building user interfaces.
        </q>
        <p style="font-size: 14px">Source: <a href="https://vuejs.org/v2/guide/">Vue.js docs</a></p>

        <div class="fragment">
            <div>Let's decode that a bit:</div>
            <ul class="no-burn">
                <li>Java script framework</li>
                <li>Main goal: Build user interfaces</li>
                <li>Progressive: Framework concentrates on building a
                    <em>View Layer</em>,<br>other functionality can be added as plugin on demand
                </li>
            </ul>
        </div>
        <div class="fragment">
            <div>Current status: Two competing versions</div>
            <ul class="no-burn">
                <li>v2.6.11 : Production ready, longterm stable, good environment</li>
                <li>v3.0.5 : Better performance, cool new features, environment not yet migrated</li>
                <li>v2.7 Could be coming soon and is planned as a helper version to migrate to Vue 3</li>
            </ul>
            <div>(This workshop uses Vue 3)</div>
        </div>
    </section>

    <section>
        <h1>How to start a new Vue project</h1>
        <div><a href="https://cli.vuejs.org/">Vue CLI</a>:</div>
        <ul class="no-burn">
            <li>Easy project setup</li>
            <li>Allows to install plugins/modules (e.g. router, state management)<br>from CLI or graphical user interface
            </li>
        </ul>
        <div class="fragment">
            <div>For more complex SPAs: <a href="https://nuxtjs.org/">Nuxt</a></div>
            <ul class="no-burn">
                <li>Routing</li>
                <li>State management</li>
                <li>Create SPA pages from files in correct directory</li>
                <li>Supports server side rendering and static site generation</li>
                <li><span style="color:red"> &#x26A0; </span> Upgrade path to Vue 3 unclear</li>
            </ul>
        </div>
        <div class="fragment">If you want to be on the cutting edge (not production ready): <a
                href="https://github.com/vitejs/vite">vite</a></div>
    </section>

    <section>
        <h1>What are we going to build today</h1>
        <div style="text-align: center; height: 100%; ">
            <img src="../img/screenshotTargetApp.png" alt="Screenshot of target example program" style="height: 60%; border: 1px solid black; box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15); padding: 20px; border-radius: 20px">
        </div>
    </section>

</section>