<section data-title="Modularization" xmlns="http://www.w3.org/1999/html">

    <section>
        <h1>What did we achieve so far?</h1>
        <div>
            <img src="../img/whatOurAppCanDo.svg" alt="Current functionality of our app" class="no-burn">
            <div class="fragment">All features are in one Vue Component</div>
            <ul>
                <li>This is the Vue equivalent of the God-Class antipattern!</li>
            </ul>
        </div>
    </section>

    <section>
        <h1>Sub-Components</h1>
        <p>Solution: Split into smaller components</p>
        <img src="../img/VueComponentTree.svg" alt="Current functionality of our app">
    </section>

    <section>
        <h1>Sub-Component usage</h1>
        <pre><code class="language-html">&lt;template>
  &lt;div>
      ^3^&lt;ChildComponent/>^^
  &lt;/div>
&lt;/template>

&lt;script>
^1^import ChildComponent from "@/components/ChildComponent.vue";^^

export default {
    ^2^components: {
        ChildComponent
    }^^
};
&lt;/script> </code></pre>
        <p>How to use a newly created sub component?</p>
        <ol>
            <li data-fragment-index="1">Import component</li>
            <li data-fragment-index="2">Register component in parent component</li>
            <li data-fragment-index="3">Use component in template (note you could also write <code>child-component</code>,<br>which is only necessary when using Vue without a build step, though)</li>
        </ol>
    </section>

    <!--    ================== new slide ==========================-->

    <section>
        <h1>Parent child communication</h1>
        <h2>How to get data in and out of child components</h2>
        <img src="../img/dataFlow.svg" alt="Data flow between parent and child component" style="width: 90%">
    </section>

    <!--    ================== new slide ==========================-->

    <section>
        <h1>Declaring Props</h1>
        <p>Define in child component</p>
        <pre><code class="language-js">export default {
  props: {
    ^1^myStringProp^^: ^2^{
      type: String,
      required: false,
      default: "fooBar"
    }^^,
    ^1^myBooleanProp:^^ ^2^{
      type: Boolean,
      required: true
    }^^
  }
};</code></pre>
        <ol>
            <li data-fragment-index="1">List the prop names as keys of the <code>props</code> object</li>
            <li data-fragment-index="2">Add some validation (especially type) <code></code></li>
            <li>For better TypeScript object types:<br><code>type: Object as () => MyInterface</code></li>
            <li>Props are reactive and can be used like any <code>data</code>-variable</li>
        </ol>
    </section>

    <!--    ================== new slide ==========================-->

    <section>
        <h1>Passing Props</h1>
        <p>Use in parent component</p>
        <pre><code class="language-html">&lt;ChildComponent
    ^1^my-string-prop="Hello World"^^
    ^2^v-bind:my-boolean-prop="true"^^
/></code></pre>
        <p class="fragment"
           data-fragment-index="1">Props of child components can be used like normal attributes of HTML-elements
        </p>
        <p class="fragment" data-fragment-index="2">You have to use
            <code>v-bind</code> for non string props (otherwise they are interpreted as strings)
        </p>
        <p class="fragment"
           data-fragment-index="3">It is best practice to use kebab-case instead of camelCalse for props here<br>(It is not strictly required for file type components but necessery if you are using "inline Vue")
        </p>

    </section>

    <!--    ================== new slide ==========================-->

    <section>
        <h1>Emitting custom events</h1>
        <pre><code class="language-js">export default {
    ^1^emits: ["my-event"]^^,
    methods: {
        someMethod() {
            ^2^this.$emit("my-event", "some value to pass");^^
        }
    }
};</code></pre>
        <ol>
            <li data-fragment-index="1">Add the new event to the list of events a component emits</li>
            <li data-fragment-index="2">Use <code
                    class="language-js">this.$emit</code> to actually emit the event and to specify its payload
            </li>
        </ol>
    </section>

    <!--    ================== new slide ==========================-->

    <section>
        <h1>Handling custom events</h1>
        <pre><code class="language-html">&lt;template>
  &lt;div>
      &lt;ChildComponent ^1^v-on:my-event="someMethod"^^/>
    &lt;/div>
&lt;/template>

&lt;script>
import ChildComponent from 'ChildComponent'    
    
export default {
    components: {ChildComponent},
    methods: {
        ^2^someMethod(value) {
            console.log(`event my-event was called with ${value} arguement`);
        }^^
    }
};
&lt;/script></code></pre>
        <ol>
            <li data-fragment-index="1">Can be handled like every standard DOM event (again note the kebab-case).</li>
            <li data-fragment-index="2">The payload is passed to the argument of the called method</li>
        </ol>
    </section>

    <!--    ================== new slide ==========================-->

    <section>
        <h1>Exercise 4</h1>
        <ol class="no-burn">
            <li>Extract the scrum estimation card into a separate component</li>
            <li>Use that component to replace the inline code in the "GodComponent"</li>
        </ol>
    </section>


</section>