<section data-title="Summary" xmlns="http://www.w3.org/1999/html">

    <!--    ================== new slide ==========================-->

    <section>
        <h1>Summary</h1>
        <p class="fragment">A Vue component groups markup, functionality and styling</p>
        <p class="fragment">Using <em>reactive</em>-data, it is possible to adapt the resulting HTML as the data changes
        </p>
        <p class="fragment">User actions can change the data via event handling</p>
        <div class="fragment">
            <div>Any (non-trivial) application should be split into multiple sub components</div>
            <ul class="no-burn">
                <li>Data flow from parent to child: <code>props</code></li>
                <li>Data flow from child to parent: <code>events</code></li>
            </ul>
        </div>
    </section>

    <!--    ================== new slide ==========================-->

    <section>
        <h1>Advanced topics</h1>
        <ul class="no-burn">
            <li>
                <a href="https://v3.vuejs.org/guide/class-and-style.html"><code>class</code>/<code>style</code> bindings</a>
            </li>
            <li><a href="https://v3.vuejs.org/guide/events.html#event-modifiers">Event modifiers</a></li>
            <li><a href="https://v3.vuejs.org/guide/component-provide-inject.html">Provide/Inject</a></li>
            <li><a href="https://v3.vuejs.org/guide/component-slots.html">Slots</a></li>
            <li><a href="https://v3.vuejs.org/guide/transitions-overview.html">Transitions</a></li>
            <li><a href="https://v3.vuejs.org/guide/render-function.html">Render functions</a></li>
            <li><a href="https://v3.vuejs.org/api/composition-api.html">Composition API</a> (Vue 3)</li>
            <li><a href="https://v3.vuejs.org/guide/teleport.html">Teleport</a> (Vue 3)</li>
            <li><a href="https://v3.vuejs.org/guide/routing.html">Routing</a> (<a
                    href="https://router.vuejs.org/">Vue Router</a>)
            </li>
            <li>
                <a href="https://v3.vuejs.org/guide/state-management.html">State management</a> (<a
                    href="https://vuex.vuejs.org/">Vuex</a>)
            </li>
            <li>Testing (<a href="https://testing-library.com/docs/vue-testing-library/intro/">Vue Testing Library</a>,
                <a href="https://vue-test-utils.vuejs.org/">Vue Test Utils</a>)
            </li>
        </ul>
    </section>


    <!-- Danke Slide -->
    <section id="final-slide" data-background="img/tng/supercollider.png">

        <div class="circle">
            <h1>Thank You!</h1>
            <h2>Any questions?</h2>

            <div>
                <a href="mailto:lukas.taegert-atkinson.ext@bestsecret.com"><img style="height: 200px"
                                                                                src="../img/LukasTaegertAtkinson.jpg"
                                                                                alt="Image Lukas Taegert Atkinson"></a>
                <a href="mailto:Kristian.Kostadinov.ext@bestsecret.com"><img style="height: 200px"
                                                                             src="../img/KristianKostadinov.jpg"
                                                                             alt="Image Kristian Konstadinov"></a>
                <a href="mailto:dominikus.hellgartner.ext@bestsecret.com"><img style="height: 200px"
                                                                               src="../img/DominikusHellgartner.png"
                                                                               alt="Image Dominikus Hellgartner"></a>
            </div>
        </div>
    </section>
</section>