<!-- Titel-Slide -->
<section id="intro-slide" data-background="img/tng/supercollider.png">
    <div class="circle">

        <div class="logos" style="margin-top: 70px">
            <a href="https://www.bestsecret.com">
                <img class="logo" src="../img/bs-logo-combined-horizontal.svg" alt="TNG logo">
            </a><br>
            <a href="https://www.tngtech.com">
                <img class="logo" src="../img/tng.svg" alt="TNG logo">
            </a>
        </div>
        <h1 style="font-size: 2.8em; margin-top: 20px">Vue.js for Beginners</h1>
        <h2>An introduction into Vue.js</h2>

        <div style="margin-top: 70px;">
            Dominikus Hellgartner<br>
            Kristian Kostadinov<br>
            Lukas Taegert-Atkinson
        </div>
    </div>

    <div class="date white">2021/01/21</div>
</section>
